@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("./images/bgimage.png");
    background-size:100%;
    background-repeat: no-repeat;
    width : 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px; 
    position: fixed;
    width:100vw;
    padding-top: 0;
    
}

.header:hover {
    background-color: grey;
}

.header a {
    text-decoration: none;
    margin:20px;
    color: white;
}

#logo{
    margin: 8px 55px 5px 55px;
    font-weight: bold;
    color: white;
    font-size: 25px;
}
.login , .menu {
    margin: 10px;
}

#btnregister {
    background-color:rgb(75, 175, 214);
    padding: 10px;
    margin-right:20px;
    border-radius: 4px;
    color: white;
    border : 0px;
}
.homepage{
    height: 100vh;
}

h1{
    font-size:60px;
}
p{
    font-size: 22px;
    padding-top: 20px;
}
.homecontent {
    margin-top:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
   
}
#btnquote {
    border: 1px white solid;
    border-radius: 50px;
    padding:15px 30px 15px 30px;
    margin-top: 30px;
    font-size: 18px;
    color: white;
    background-color:rgb(75, 175, 214);
}

#btnlearnmore{
    background: transparent;
    padding:15px 30px 15px 30px;
    color: white;
    border: 1px white solid;
    font-size: 18px;
    border-radius: 50px;
    
}

.home-buttons > input[type="button"]:hover{
    background-color: rgb(75, 175, 214);
}
.footers {
    display: flex;
    justify-content: center;
    gap:20px;
    padding-top :180px;
   
}
.footers > div:hover {
    background-color: rgb(75, 175, 214);;
}

.footers2 {
    display: flex;
    justify-content: center;
    gap:20px;
    text-align: center;
    padding-top :130px;
    margin-top: -50px;
}
.footers div , .footers2 div {
    background-color: white;
    height:120px;
    width:230px;
    padding:20px;

}
.footers div {
    border: 1px solid aliceblue;
}

.industry{
    background-color: aliceblue;
    height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 25vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
} 
.pricing{
    background-color: aliceblue;
    height: 25vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    align-items: center;
    padding-top: 20vh;

}
.employees {
    display: flex;
    justify-content: center;
    gap:20px;
    text-align: center;
    background-color: aliceblue;
}
.employees div{
    background-color: white;
    width:240px;
    padding:20px;
    border: 0.5px solid aliceblue;
}
.company_logos {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    gap:40px;
    padding-top: 25vh;
}
.company_logos img {
    width:90px;
    height:30px;
    
}
.subscribeContainer{
    background-color: aliceblue;
    display: flex;

}
.subscribe{
    
    display: flex;
    margin-top: 10vh;
    width: 60vw;
    justify-content: space-between;
    background:linear-gradient(to right, rgb(9, 9, 90),rgb(92, 17, 153), rgb(209, 26, 163)) ;
    align-items: center;
    padding:20px;
    margin-left:20vw;
    color:white;
    
}
.subscribe div input[type="button"]{
    height:30px;
    padding:5px 10px 5px 10px;
    border-radius: 5px ;
    border: 1px solid white;
    color:white;
    background-color: rgb(75, 175, 214);
} 
.subscribe div input[type="email"]{
    height:30px;
    padding:5px 10px 5px 10px;
    border-radius: 5px ;
    border: 1px  solid white;
}
.packages {
    display: flex;
    padding-top: 20vh;
    padding-bottom: 15vh;
    justify-content: center;
    background-color: aliceblue;
    align-items: flex-end;
}
.display-cost{
    display: flex;
    justify-content: center;
    color: rgb(75, 175, 214);
    padding-top: 15px;
    padding-bottom: 10px;
}
#break-line {
    text-align: left;
    line-height: 15px;
    padding:3px
}
.pkg1:hover , .pkg2:hover, .pkg3:hover{
    background-color: rgb(16, 15, 71);
    height: 65vh;
    color: white;
    line-height: 27px;
}
.pkg1, .pkg2, .pkg3{
    background-color: white;
    border:1px solid rgb(75, 175, 214);
    text-align: center;
    padding:30px 20px 25px 20px;
    border-radius: 15px;
    width: 250px;
    height:60vh;
    line-height: 25px;
}
#btnpricing {
    width:200px; 
    padding: 6px; 
    background-color: rgb(75, 175, 214);
    color:white;
    border:none;
    border-radius: 4px;
}
.contact{
    display: flex;
    padding: 80px;
    justify-content: center;
    gap : 80px;
    background-color: rgb(10, 12, 41);
    color:white;
    height:80vh;
}
.contact div{
    width:22vw;
}
.contact div img {
    width:22vw;
    height:22vh;
}
.appointment {
    display: flex;
    justify-content: center;
    margin-top: -30vh;
    
}
.apptmtimg{
    width:200px;
    height: 400px;
}
.apptmtForm{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: white;
    padding:20px;
    justify-content: center;
}
.apptmtForm input, .apptmtForm select {
    padding:10px;
    margin: 5px;
}
.apptmtimg img {
    width:200px;
    height:400px;
}
.consult {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    margin-top: -250px;
    align-items: flex-end;
    height: 350px;
    gap:400px
   
}

.aboutCompany{
    display: flex;
    padding-top:80px;
    gap:50px;
    justify-content: center;
    background-color: aliceblue;
    line-height: 30px;
}
.last-container {
    display: flex;
    justify-content: center;
    padding-top:50px ;
    padding-bottom: 30px;
    gap: 300px;
    background-color: aliceblue;
}

/* mobile version */

@media screen and (max-width:774px) {
    body{
        background-image: url("./images/bgimage.png");
        background-size:100%;
        background-repeat: no-repeat;
        width : 100vw;
        height: 100vh;
    } 
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        top: 0px; 
        position: fixed;
        width:100vw;
        padding-top: 0;
        flex-wrap: wrap;
    }
    .header a {
        text-decoration: none;
        margin: 5px;
        color: white;
    }

    .homepage{
        background-color: aliceblue;
        

    }
    .homecontent{
        font-size: 12px;
        color: black;

    }
    h1{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }
    #btnquote {
        padding:5px 10px 5px 10px;
        color: black;
        border: 1px black solid;
        font-size: 12px;
        border-radius: 50px;
    }
    #btnlearnmore {
        background: transparent;
        padding:5px 10px 5px 10px;
        color: black;
        border: 1px black solid;
        font-size: 12px;
        border-radius: 50px;
    }
    /* this contains a flexbox below the background image */
    .footers {
        display: flex;
        justify-content: center;
        gap:5px;
        padding-top :100px;  
        flex-wrap: wrap; 
    }

    .footers div , .footers2 div {
        background-color: white;
        height:180px;
        width:230px;
        padding:20px;
    }
    .footers2 {
        display: flex;
        justify-content: center;
        gap:5px;
        flex-wrap: wrap;
    }
    .industry{
        margin-top: 5vh;
    }
    .employees{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .company_logos{
        gap:2px;
        padding-top: 5vh;
    }
    .company_logos img {
        width:55px;
        height:20px;   
    }
    .subscribe{
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        width: 100vw;
        background:linear-gradient(to right, rgb(9, 9, 90),rgb(92, 17, 153), rgb(209, 26, 163)) ;
        align-items: center;
        padding:10px;
        margin-left: 1px;
    }
    .pricing{
        display: flex;
        height: 25vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 96vw;
        align-items: center;
        padding-top: 5vh;
    }
    .packages {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3vh;
    }
    .contact div{
        width:50vw;
        font-size: 10px;
    }
    .contact div img {
        width:30vw;
        height:20vh;
    }
    .contact{
        gap: 25px;
        padding: 20px;
        height: 30vh;
        line-height: 12px;
    }
    .apptmtimg{
        width:100px;
        height: 300px;
    }
    .apptmtimg img{
        height:300px
    }
    .apptmtForm{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 300px;
        background-color: white;
        padding:10px;
        justify-content: center;
    }
    .apptmtForm input, .apptmtForm select {
        padding:10px;
        margin: 5px;
    }
    .appointment {
        margin-top:10vh
    }
    .consult{
        gap:30px;
    }
    .aboutCompany{
        gap:10px;
        line-height: 20px;
        flex-wrap: wrap;
    }
    .last-container{
        gap:10px
    }
    .last-container div{
        font-size: 12px;
    }
}